<%- include('../layouts/head.ejs') %> 
<body>
    <div class="fundo__principal">
        <%- include('../layouts/menu.ejs') %> 
        <%- include('../layouts/right--side.ejs') %>
        <%- include('../layouts/left--side.ejs') %> 
    </div>
</body>
</html>