<div class="left__side">
    <img src="/images/way.png" alt="castle and way" class="castle">
    <div class="itens__flex">
        <img src="/images/punp1.png" alt="pumpkin" class="pumpkin__1">
        <img src="/images/punp2.png" alt="pumpkin" class="pumpkin__2">
        <img src="/images/punp3.png" alt="pumpkin" class="pumpkin__3">
    </div>
</div>