<nav>
    <ul class="navbar">


        <li class="nav--item">
            <a href="">home</a>
        </li>
        <li class="nav--item">
            <a href="">blog</a>
        </li>
        <li class="nav--item">
            <a href="">faq</a>
        </li>
        <li class="nav--item">
            <a href="">about us</a>
        </li>
        <div class="search" >
            <input type="text">
            <i class="bi bi-search"></i>
        </div>
    </ul>
</nav>