<nav>
    <ul class="navbar">
        <li class="nav--item">home</li>
        <li class="nav--item">blog</li>
        <li class="nav--item">faq</li>
        <li class="nav--item">about us</li>
        <div class="search" >
            <input type="text">
            <i class="bi bi-search"></i>
        </div>
    </ul>
</nav>