<div class="right__side">
  <h1 class="right__h1_1">
    happy 
    
  </h1>
  <h1 class="right__h1_2">
    halloween
  </h1>
  <p class="right__p">
    Lorem ipsum dolor sit amet consectetur </br> adipisicing elit. Natus, molestiae tenetur accusantium neque </br> deserunt consequuntur magnam odit. 
  </p>
  <button class="right__btn">enter site</button>
</div>
