<div class="right__side">
  <h1 class="right__h1">
    <span class="right__span"> happy </span>
    Halloween
  </h1>
  <p class="right__p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, molestiae tenetur accusantium neque deserunt consequuntur magnam odit. 
  </p>
  <button class="right__btn">enter site</button>
</div>
