<div class="right__side">
  <h1 class="right__h1_1">
    happy 
    
  </h1>
  <h1 class="right__h1_2">
    halloween
  </h1>
  <p class="right__p">
    Lorem ipsum dolor sit amet consectetur </br> adipisicing elit. Natus, molestiae tenetur accusantium neque </br> deserunt consequuntur magnam odit. 
  </p>
  <button class="right__btn">enter site</button>

  <div class="itens">
    <i class="bi bi-reddit item1"></i>
    <i class="bi bi-facebook item1"></i>
    <i class="bi bi-instagram item1"></i>
  </div>
</div>
